.active {
    background-color: green;
    color: #fff;
    font: bold;
    font-size: 25px;
    text-decoration: none;
}


/* #titleApp {
    align-items: center;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
} */