<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
                <a routerLink="/dataBinding" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">DataBinding</a>
            </li>
            <li>
                <a routerLink="/interpolation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Interpolation</a>
            </li>
            <li>
                <a routerLink="['/404, 1']">Error</a>
            </li>
        </ul>
    </nav>
</header>







<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>

        <mat-nav-list>
            <a mat-list-item routerLink="DataBinding">Data Binding</a>
            <a mat-list-item routerLink="Interpolation">Interpolation</a>
            <a mat-list-item href="#">Event Biding</a>
            <a mat-list-item href="#">Two-way Binding</a>
            <a mat-list-item href="#">Diretivas</a>
            <a mat-list-item href="#">ngIf</a>
            <a mat-list-item href="#">ngFor</a>
            <a mat-list-item href="#">ngSwitch</a>
            <a mat-list-item href="#">ngClass</a>
            <a mat-list-item href="#">ngStyle</a>
            <a mat-list-item href="#">ngModel</a>
            <a mat-list-item href="#">ng-template</a>
            <a mat-list-item href="#">ng-content</a>
            <a mat-list-item href="#">Pipes</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="titleApp">
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Estudos Angular</span>
        </mat-toolbar>
        <ng-content></ng-content>


        add content here

    </mat-sidenav-content>
</mat-sidenav-container> -->