<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>

        <mat-nav-list>
            <a mat-list-item href="#">Data Binding</a>
            <a mat-list-item href="#">interpolation</a>
            <a mat-list-item href="#">Event Biding</a>
            <a mat-list-item href="#">Two-way Binding</a>
            <a mat-list-item href="#">Diretivas</a>
            <a mat-list-item href="#">ngIf</a>
            <a mat-list-item href="#">ngFor</a>
            <a mat-list-item href="#">ngSwitch</a>
            <a mat-list-item href="#">ngClass</a>
            <a mat-list-item href="#">ngStyle</a>
            <a mat-list-item href="#">ngModel</a>
            <a mat-list-item href="#">ng-template</a>
            <a mat-list-item href="#">ng-content</a>
            <a mat-list-item href="#">Pipes</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Estudos Angular</span>
        </mat-toolbar>


    </mat-sidenav-content>
</mat-sidenav-container>
